.compas-list{
  overflow: hidden;
  padding: 40px 0;
  position: relative;
  @media screen and (min-width: $md-width){
    padding: 60px 0;
  }
  &__compas{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 40px 0;
    @media screen and (min-width: $md-width){
      padding: 60px 0;
    }
    .compas{
      position: relative;
      @media screen and (min-width: $md-width){
        width: 618px;
        height: 100%;
      }
      &__image{
        position: relative;
        img{
          width: 110%;
          position: relative;
          left: -10%;
        }
      }
      &__arrow{
        position: absolute;
        left: 50%;
        top: 50%;
        transform-origin: center;
        transform: translate(-50%,  -50%);
        transition: transform .5s .2s;
        width: 534px;
        img{
          transform: translate(10px,10px) rotate(8deg);
        }
      }
    }
  }
  &__text{
    @media screen and (min-width: $lg-width){
      padding: (97px - 60px) 70px (97px - 60px) 73px;
    }
    .text{
      p{
        font-weight: 600;
        margin-bottom: 20px;
        @media screen and (min-width: $md-width){
          font-size: 18px;
          margin-bottom: 30px;
        }
      }
      ul{
        li{
          font-size: 18px;
          line-height: 23px;
          margin-bottom: 21px;
          &::before{
            top: calc(23px / 2 - 2.5px);
          }
          @media screen and (min-width: $md-width){
            font-size: 30px;
            line-height: 60px;
            margin-bottom: 0;
            &::before{
              top: calc(60px / 2 - 2.5px);
            }
          }
        }
      }
    }
  }
}