.compas-list{
  overflow: hidden;
  padding: 40px 0;
  position: relative;
  @media screen and (min-width: $md-width){
    padding: 60px 0;
  }
  &__compas{
    position: absolute;
    right: -68px;
    top: 20px;
    width: 245px;
    height: 245px;
    @media screen and (min-width: $md-width){
      width: 300px;
      height: 300px;
      right: 0;
    }
    @media screen and (min-width: $lg-width){
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
    }
    .compas{
      @media screen and (min-width: $lg-width){
        position: relative;
        //width: 618px;
        height: 100%;
      }
      &__image{
        position: relative;
        @media screen and (min-width: $lg-width){
          bottom: -60px;
          max-width: 618px;
          //bottom: -10%;
        }
        > img{
          width: 100%;
          transform: rotate(-28deg);
          transition: transform .5s;
          @media screen and (min-width: $lg-width){
            transform: none;
          }
        }
      }
      &__arrow{
        position: absolute;
        left: 50%;
        top: 50%;
        transform-origin: center;
        transform: translate(-50%,  -50%);
        width: 210px;
        @media screen and (min-width: $md-width) {
          width: 100%;
        }
        @media screen and (min-width: $lg-width){
          left: 50%;
          width: 555px;

        }
        img{
          width: 100%;
          left: 0;
          transform: rotate(8deg);
          filter: drop-shadow(12px 10px 30px rgba(0,33,86,0.62));
        }
      }
    }
  }
  &__title{
    margin-bottom: 30px;
    @media screen and (min-width: $md-width){
      margin-bottom: 0;
    }
  }
  &__text{
    @media screen and (min-width: $lg-width){
      padding: (97px - 60px) 0 (97px - 60px) 100px;
    }
    .text{
      p{
        font-weight: 600;
        margin-bottom: 20px;
        @media screen and (min-width: $md-width){
          font-size: 18px;
          margin-bottom: 30px;
        }
      }
      ul{
        & :last-child{
          margin-bottom: 0;
        }
        li{
          font-size: 18px;
          line-height: 23px;
          margin-bottom: 27px;
          &::before{
            top: calc(23px / 2 - 2.5px);
          }
          @media screen and (min-width: $md-width){
            font-size: 30px;
            line-height: 50px;
            margin-bottom: 0;
            &::before{
              top: calc(50px / 2 - 2.5px);
            }
          }
          &:hover{
            span {
              cursor: default;
              &::before {
                transform: translateY(0);
              }
            }
          }
          span{
            position: relative;
            overflow: hidden;
            display: inline-block;
            &::before{
              position: absolute;
              display: block;
              content: '';
              width: 100%;
              height: 50%;
              left: 0;
              bottom: 0;
              background-color: rgba($accent-color,.2);
              transform: translateY(100%);
              transition: transform .25s;
              z-index: 0;
            }
          }
        }
      }
    }
  }
}