$color: #1B1919;
$accent-color: #015FFF;

$bg-color-gray: #F3F4F7;

$xs-width: 0;
$sm-width: 576px;
$md-width: 768px;
$lg-width: 992px;
$xl-width: 1200px;


body {
  display: flex;
  flex-direction: column;
  //flex-wrap: wrap;
  min-height: 100vh;
  margin: 0;
  padding: 0;

  &.hidden {
    overflow: hidden;
  }

  &.no-top {
    padding-top: 58.25px;
    @media screen and (min-width: $md-width) {
      padding-top: 92px;
    }
  }
}

main {
  flex-grow: 1;
}

header, main, footer {
  * {
    font-family: 'Open Sans', sans-serif !important;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0;
  color: $color;
}

ul, ol {
  padding: 0;
  font-weight: bold;
}

h2 {
  font-size: 20px;
  line-height: 27px;
  font-weight: bold;
  @media screen and (min-width: $md-width) {
    font-size: 24px;
    line-height: 33px;
  }
}

p {
  font-size: 14px;
  line-height: 26px;
}

ul, ol {
  li {
    list-style: none;
    position: relative;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 21px;
    @media screen and (min-width: $md-width) {
      font-size: 20px;
      line-height: 40px;
      margin-bottom: 5px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

ol {
  counter-reset: myCounter;

  li {
    display: flex;
    padding-left: 0;
    line-height: 28px;
    @media screen and (min-width: $md-width) {
      line-height: 40px;
    }

    &::before {
      position: relative;
      display: block;
      counter-increment: myCounter;
      content: counter(myCounter, decimal-leading-zero);
      font-size: 11px;
      line-height: 100%;
      text-transform: uppercase;
      margin-right: 17px;
      top: 7px;
      @media screen and (min-width: $md-width) {
        top: 14px;
      }
    }
  }
}

ul {
  li {
    padding-left: 20px;
    //@media screen and (min-width: $md-width){
    //  padding-left: 25px;
    //}
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: $accent-color;
      left: 0;
      top: calc(23px / 2 - 2.5px);
      @media screen and (min-width: $md-width) {
        top: calc(40px / 2 - 2.5px);
      }
    }
  }
}

label {
  display: block;
  color: #B1B1B3;
  font-size: 14px;
  line-height: 19px;
  font-weight: bold;
  margin-bottom: 20px;

  &.file {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: color .25s;
    &.invalid{
      &::before{
        filter: hue-rotate(150deg);
      }
    }

    &:hover {
      &::before {
        transform: translateZ(0) scale(1.1);
      }
    }

    &::before {
      width: 24px;
      height: 24px;
      display: inline-block;
      background: url("../img/interface/add-icon.svg");
      content: '';
      margin-right: 6px;
      transform: translateZ(0);
      transition: transform .25s;
    }

    &.can-delete {
      &::before {
        transform: translateZ(0) rotate(45deg);
      }
      &:hover {
        &::before {
          transform: translateZ(0) scale(1.1) rotate(45deg);
        }
      }
    }
  }

  &.valid-submit {
    input {
      border-color: #e92731;
    }

    //&.no-required{
    //  color: #B1B1B3;
    //  input{
    //    border-color: #B1B1B3;
    //    &:hover{
    //      border-color: black;
    //    }
    //    &:focus{
    //      border-color: $accent-color;
    //    }
    //  }
    //}
  }

  &.invalid-submit {
    input {
      border-color: #e92731;
    }
  }
}

input, textarea {
  background: transparent;
  font-size: 16px;
  line-height: 22px;
  padding: 12px 13px 14px;
  width: 100%;
  margin-top: 10px;
  display: block;
  border: 1px solid #B1B1B3;
  transition: border-color .2s;
  color: black;

  &:hover,
  &:focus {
    outline: none;
  }

  &:hover {
    border-color: black;
  }

  &:focus {
    border-color: $accent-color;
  }
}

input {
  font-weight: 600;
}

input[type="file"] {
  display: none;
}

textarea {
  resize: none;
  font-weight: normal;
}


.container-sm {
  @media (min-width: 576px) {
    max-width: 570px
  }
  @media (min-width: 768px) {
    max-width: 750px
  }
  @media (min-width: 992px) {
    max-width: 990px
  }
  @media (min-width: 1200px) {
    max-width: 1200px;
  }
}

.container-md {
  @media (min-width: 768px) {
    max-width: 750px
  }
  @media (min-width: 992px) {
    max-width: 990px
  }
  @media (min-width: 1200px) {
    max-width: 1200px;
  }
}


.container-lg {
  @media (min-width: 992px) {
    max-width: 990px
  }
  @media (min-width: 1200px) {
    max-width: 1200px;
  }
}

.container-xl {
  // Экстрабольшие девайсы (большие десктопы, >= 1200px)
  @media (min-width: 1200px) {
    max-width: 1200px;
  }
}