$color: #1B1919;
$accent-color: #015FFF;

$bg-color-gray: #F3F4F7;

$xs-width: 0;
$sm-width: 576px;
$md-width: 768px;
$lg-width: 992px;
$xl-width: 1200px;


body {
  margin: 0;
  padding: 0;
  &.hidden{
    overflow: hidden;
  }
}

* {
  font-family: 'Open Sans', sans-serif !important;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,h6,p,ul,ol{
  margin: 0;
}

ul,ol{
  padding: 0;
  font-weight: bold;
}

h2{
  color: $color;
  font-size: 20px;
  line-height: 27px;
  font-weight: bold;
  @media screen and (min-width: $md-width){
    font-size: 24px;
    line-height: 33px;
  }
}

p{
  font-size: 14px;
  color: $color;
  line-height: 26px;
}

ul {
  li {
    list-style: none;
    position: relative;
    padding-left: 20px;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 21px;
    @media screen and (min-width: $md-width) {
      font-size: 20px;
      line-height: 40px;
      padding-left: 25px;
      margin-bottom: 5px;
    }
    &:last-child{
      margin-bottom: 0;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: $accent-color;
      left: 0;
      top: calc(23px / 2 - 2.5px);
      @media screen and (min-width: $md-width) {
        top: calc(40px / 2 - 2.5px);
      }
    }
  }
}

label{
  display: block;
  color: #B1B1B3;
  font-size: 14px;
  line-height: 19px;
  font-weight: bold;
  margin-bottom: 20px;
  &.file{
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover{
      &::before{
        transform: translateZ(0) scale(1.1);
      }
    }
    &::before{
      width: 24px;
      height: 24px;
      display: inline-block;
      background: url("../img/interface/add-icon.svg");
      content: '';
      margin-right: 6px;
      transform: translateZ(0);
      transition: transform .25s;
    }
  }
  &.valid{
    color:#10ce6f;
    input{
      color: #10ce6f;
      border-color: #10ce6f;
    }
    &.textarea{
      color: #B1B1B3;
      input{
        border-color: #B1B1B3;
        &:hover{
          border-color: black;
        }
        &:focus{
          border-color: $accent-color;
        }
      }
    }
  }

  &.invalid{
    color: #e92731;
    input{
      color: #e92731;
      border-color: #e92731;
    }
  }
}

input, textarea{
  background: transparent;
  font-size: 16px;
  line-height: 22px;
  padding: 12px 13px 14px;
  width: 100%;
  margin-top: 10px;
  display: block;
  border: 1px solid #B1B1B3;
  transition: border-color .2s;
  color: black;
  &:hover,
  &:focus{
    outline: none;
  }
  &:hover{
    border-color: black;
  }
  &:focus{
    border-color: $accent-color;
  }
}

input{
  font-weight: 600;
}

input[type="file"]{
  display: none;
}

textarea{
  resize: none;
  font-weight: normal;
}




.container-sm {
  @media (min-width: 576px) {
    max-width: 570px
  }
  @media (min-width: 768px) {
    max-width: 750px
  }
  @media (min-width: 992px) {
    max-width: 990px
  }
  @media (min-width: 1200px) {
    max-width: 1200px;
  }
}

.container-md {
  @media (min-width: 768px) {
    max-width: 750px
  }
  @media (min-width: 992px) {
    max-width: 990px
  }
  @media (min-width: 1200px) {
    max-width: 1200px;
  }
}


.container-lg {
  @media (min-width: 992px) {
    max-width: 990px
  }
  @media (min-width: 1200px) {
    max-width: 1200px;
  }
}

.container-xl {
  // Экстрабольшие девайсы (большие десктопы, >= 1200px)
  @media (min-width: 1200px) {
    max-width: 1200px;
  }
}