.features-list {
  padding-top: 45px;
  padding-bottom: 55px;
  @media screen and (min-width: $md-width){
    padding-top: 85px;
    padding-bottom: 80px;
  }
  &__block {
    .list {
      p {
        margin-bottom: 40px;
        @media screen and (min-width: $lg-width) {
          margin-bottom: 55px;
        }
        span {
          display: inline-block;
          padding-bottom: 3px;
          border-bottom: 3px solid $accent-color;
          @media screen and (min-width: $md-width){
            padding-bottom: 6px;
          }
        }
      }

      ol {
        display: flex;
        flex-wrap: wrap;
        margin: (-40px / 2) -15px;
        @media screen and (min-width: $lg-width) {
          flex-basis: calc(100% / 3);
          margin: (-70px / 2) -15px;
        }

        li {
          padding: (40px / 2) 15px;
          flex-basis: 100%;
          margin: 0;
          @media screen and (min-width: $md-width) {
            flex-basis: 50%;
          }
          @media screen and (min-width: $lg-width) {
            flex-basis: calc(100% / 3);
            padding: (70px / 2) 15px;
          }
        }

      }
    }
  }
}